<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="userInfoQuery" resultType="com.example.demo.model.UserInfo">
        select * from jc_tuserinfo
    </select>
    <select id="userInfoLeaderQuery" resultType="com.example.demo.model.UserInfo">
        select * from jc_tuserinfo
    </select>
    <select id="userInfoPartmentQuery" resultType="java.lang.Integer">
        select * from jc_tuserinfo
    </select>
</mapper>
